# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# env files
.env
.env.*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# editor folders
.vscode/
.idea/

# system files
.DS_Store
